body{
	background-color:#658db2;
}
h3,h2{
	text-align:center;
}
.blue{
	color:#c67a4e;
}
.box{
	background-color:#ffffff; margin-top:15px;
	min-height: 300px;
}
.btnmove{
	background-color: #28006a !important;
	padding: 15px;
	margin: 0 auto !important;
	display: block; border: 0 ; color: #fff;
}
.box input[type=text]{
	z-index: 2;
	width:80%; margin:0 auto; background-color: #ecf6ff;
}
.thumbnail ,.btn-droppable,.btn-droppable li{
	z-index: 2;
}
.box h3{
	margin-top:0px !important;padding:15px;
}
.btn-droppable li{
	list-style:none;
}

.myform{
 	bottom: 0;
	left: 0;
   z-index: 99999; position: relative;
}
#wrap:after {
	content: "\f085";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	font-size: 100px;
	color: #a6a6a6;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -200px;
	z-index: 1;
}

