<!DOCTYPE html>
<html ng-app="drag-and-drop">  
  <head lang="en">
    <meta charset="utf-8">
    <title>Drag &amp; Drop: Multiple lists</title>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script> 
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/1b676da7db.js"></script>

    <link href="custom.css" rel="stylesheet">
    <script type="text/javascript">
      var App = angular.module('drag-and-drop', ['ngDragDrop']);
		App.controller('OverviewCtrl', function($scope) {

        $scope.list4 = [];
      
   $scope.todoList = [];
    $scope.todoAdd = function() {
	 var exist = false;
     var onj ={title:$scope.todoInput, 'drag': true};
	 if(typeof $scope.todoInput == 'undefined'){
	alert( 'empty !');
	 exist = true;
	 }
    var i;
    for (i = 0; i < $scope.todoList.length; i++) {
        if (angular.equals($scope.todoList[i], onj)) {
			alert( 'todo Empty or may be already exists!');
		   exist = true;
		   }
    }
	  if (!exist && typeof $scope.todoInput != 'undefined'){ 
	  $scope.todoList.push({title:$scope.todoInput , 'drag': true});
		/// prepare for using REST Api (i can use laravel freame work [php]...
		// will excute after push element to array then import to db using api
		/*
		@url- url for rest api to post data 
		@data - { json object pass to rest api }
		**/ 
	   /*$http.post(url, data)
            .success(function (response) {
            })
            .error(function (response) {
            });
			*/
        $scope.todoInput = "";
	  }
 };


			$scope.moveToRight = function() {
				var oldList = $scope.todoList;
				$scope.todoList = [];
				angular.forEach(oldList, function(x) {
					if (!x.done){
						$scope.todoList.push(x);
					}else{
						$scope.list4.push(x);
					}
				});
			};
			$scope.moveToLeft = function() {
				var oldList = $scope.list4;
				$scope.list4 = [];
				angular.forEach(oldList, function(x) {
					if (!x.done){
						$scope.list4.push(x);
					}else{
						$scope.todoList.push(x);
					}
				});
			};

});
    </script>
  </head>  
  <body>
    <div ng-controller="OverviewCtrl" class="container" >
	<h3>Three <span class="blue">Blue</span> elephants</h3>
	<div class="col-lg-6 col-md-6 col-sm-6">
		<div class="box" id="wrap" >
		<h3>To Do</h3>
	<div class="thumbnail">
	<ul class="btn-droppable"  ng-repeat="item in todoList" data-drop="true" ng-model='todoList'
		  data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=todoList])'}"  jqyoui-droppable="{multiple:true}">

			<li class=" btn-draggable" data-drag="{{item.drag}}"
			data-jqyoui-options="{revert: 'invalid'}"
			ng-model="todoList" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}"
			ng-hide="!item.title">
			<i class="fa fa-cog" aria-hidden="true"></i>
				<input type="checkbox" ng-model="item.done"> {{item.title}}</li>

    </ul>
	</div>
	<br>
		<form class="myform" ng-submit="todoAdd()">
		  <input type="text" ng-model="todoInput" class="form-control"  placeholder="Add New">
		</form>
			<br>
	 </div>
		<br>
		<button class="btnmove" ng-click="moveToRight()">Move To Right > </button>
		<br>
	 </div>
	<div class="col-lg-6 col-md-6 col-sm-6">
	<div class="box">
		<h3>Done</h3>
	 <div class="thumbnail" data-drop="true" ng-model='list4' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list4])'}" 
				jqyoui-droppable="{multiple:true}">
                  <div class="caption">
                    <div class="btn-draggable" ng-repeat="item in list4" ng-show="item.title" data-drag="{{item.drag}}"
					data-jqyoui-options="{revert: 'invalid'}" ng-model="list4" jqyoui-draggable="{index: {{$index}},animate:true}">
					<i class="fa fa-check-circle" aria-hidden="true"></i>
						<input type="checkbox" ng-model="item.done">  {{item.title}}
					</div>
                  </div>
     </div>
	</div>
		<br>
		<button class="btnmove" ng-click="moveToLeft()"> < Move To Left</button>
		<br>
	</div>
	</div>
  </body>
</html>